:root{
	--main-color:#512051;
	--card-color:rgba(247, 242, 247, 1);
}

*,
*::after,
*::before{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
img{
	display: block;
	max-width: 100%;
}


body {
	font-family: sans-serif;
}
